*.el~
*.elc
*.pyc
*.dat


.DS_Store
custom.el
recentf
network-security.data
.lsp-session-*
projectile-*
bookmarks

auto-save-list/
elpa/
elpa-*/
transient/
.last-package-update-day
eshell/
elpy/
url/
